#sec1{
    float: left;
    width: 41%;
    }
    #sec2{
    float: left;
    width: 55%;
    }
    #sec1,#sec2{
        margin: 0 1%;
    }
    #sec2-1,#sec2-2{
        float: left;
        width: 50%;
    }
    @media  (max-width:900px){
        #sec2-1 {
            width: 100%;
        }
        #sec2-2 {
            width: 100%;
        }
    }
    @media (max-width:600px){
    #sec1,#sec2 {
        width: 100%;
    }
    }